PORT = 3000
MONGO_DB = mongodb://auth-service-db/auth

COOKIE_SECRET = XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
JWT_SECRET = XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

REFRESH_TOKEN_SECRET = XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
REFRESH_TOKEN_EXPIRY = 60 * 60 * 24 * 30

WHITELISTED_DOMAINS = http://localhost:3000

SESSION_EXPIRY = 60 * 15