# DOCKER-COMPOSE
.env

# GLOBAL
node_modules
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
build
*.cert
*.key
nginx/mkcert.exe

# FRONTEND
frontend/.pnp.js
frontend/.pnp
frontend/coverage
frontend/build
